@media screen and (max-width:991px) {
    .semi-btns{
        height: 200px;
        position: fixed;
        top: 126px;
    }
    .all-btns {
        /* left: 50px; */
        top: 210px;
    }
}

@media  screen and (max-width: 660px) {
    .skills .skill-box {
        background: rgb(206, 197, 197);
        /* display: flex; */
        /* padding: 15px; */
        display: block;
        margin-bottom: 15px;
        text-align: center;
        padding: 0 20px 30px;
        margin: 0;
    }
    }

    /* @media  (max-width: 305px) {
        .label.logo{
            font-size: 15px;
        }
        span{
            font-size: 15px;
        }
        } */

@media  screen and (max-width: 952px) {
    
    label.logo{
        font-size: 18px;
        padding-left: 50px;
    }
    span{
        font-size: 15px;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav{
        z-index: 999999;
    }
    .home-data h1{
        color: var(--first-color);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
    .home-data h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    .container{
        padding: 0 20px 0 20px;
        text-align: center;
    }
    /* .skills{
    margin-top: 635px;
    } */
    .footer{
        position: relative;
        background: var(--container-color);
        bottom: 0;
        width: 100%;
        /* height: ; */
        text-align: center;
    }
    .footer-container{
        background-color: transparent;
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 100px;
    }
    .footer-data{
        text-align: center;
        position: relative;
        top: 40px;
    }
    .footer-social{
        background:transparent;
        position: relative;
        text-align: center;
        top: 40px;
    }
    .footer-social-link{
        color: white;
        display: inline-block;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background-color: var(--first-color-alt);
        width: 40px;
        height: 45px;
        text-align: center;
        padding: 0.7rem;
        /* z-index: -1; */
        /* align-items: center; */
        position: relative;
        cursor: pointer;
    }
    .footer-social-link:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    .zaitoune{
        background: none;
        color: var(--first-color);
        text-align: center;
        display: flex;
    }
    .zaitoune:hover{
        background: none;
    }
    .zaitoune::before{
        content: "";
        position: relative;
        width: 0px;
        height: 2px;
        background: var(--first-color);
        bottom: -3px;
        transition: width .5s;
        -webkit-transition: width .5s;
        -moz-transition: width .5s;
        -ms-transition: width .5s;
        -o-transition: width .5s;
    }
    .zaitoune:hover::before{
        content: "";
        position: relative;
        width: 83px;
        height: 2px;
        background: var(--first-color);
        bottom: -3px;
    }

}
@media  screen and (max-width: 866px) {
    
    
    .checkbtn{
        display: block;
    }
    ul {
        background: var(--second-color-alt);
        position: fixed;
        width: 80%;
        height: 100vh;
        top: 80px;
        left: -80%;
        border-radius: 0 10px 0 0;
        text-align: center;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        -webkit-border-radius: 0 10px 0 0;
        -moz-border-radius: 0 10px 0 0;
        -ms-border-radius: 0 10px 0 0;
        -o-border-radius: 0 10px 0 0;
}
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: normal;
        padding: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    #check:checked ~ ul{
        left: 0;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        position: fixed;
}

    nav ul li a{
        font-size: 20px;
        background: transparent;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
}
    .home-data h1{
        color: var(--first-color);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    .home-data h3{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 16px;
    }
    .home-description{
        text-align: center;
        width: 100%;
    }
    .container{
        padding: 0;
        text-align: center;
    }
.home-content {
    width: 100%;
    margin-top: 50px;
    color: #eee;
    }
    
.home-blob {
    z-index: -9999;
    width: 30%;
    right: 0;
    top: 150px;
    position: absolute;
    opacity: 0;
    border: none;
    /*margin: 1px auto;
    */animation: prof2 2s ease-in-out 0s infinite alternate;
    -webkit-animation: prof2 2s ease-in-out 0s infinite alternate;
}
.home-blob2 {
    margin-top: 20px;
    z-index: -999;
    width: 50%;
    opacity: 1;
    animation: prof2 2s ease-in-out 0s infinite alternate;
    -webkit-animation: prof2 2s ease-in-out 0s infinite alternate;
}

@keyframes prof2 {
    from{
        left: 0;
    }
    to{
        left: 100px;
    }
}
.about-data h3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    /* margin: 50px auto 30px; */
    /* line-height: 60px; */
}
.about-data{
    position: relative;
    /* margin: 50px auto 30px; */
    /* line-height: 60px;*/
    height: max-content;
    width: 100%;
}
.about-description{
    padding-block: 20px;
    font-size: 16px;
}
.about-image{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.about-blob{
    /* width: 60%; */
    padding-bottom: 41%;
}
/* .about{
    height: 700px;
} */
/* ======Skills======= */
.skills{
    background: var(--container-color);
    margin-top: 240px;
    padding-inline: 5px;
}
.skills-container{
    /* row-gap: 3.5rem; */
    position: relative;
    padding-bottom: 40px;
}
.skills-data{
    width: 100%;
}
.skills-content{
    padding-top: -75px;
    width: 100%;
    position: relative;
    /* text-align: center; */
    top: -87px;
}

.skills-description{
    font-size: 17px;
    line-height: 30px;
}
.skill-box{
padding: 10px;
height:90px;
width:90%;
left:50%;
transform:translateX(-50%);
position:relative;
}
.services{
    text-align: center;
    padding-block: 30px;
}
.services-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.services-card{
    background: var(--container-color);
    margin-bottom: 20px;
    width: 70%;
    padding: 15px 0 50px 0;
    margin-inline: 10px;
    margin-block: 0 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#icon{
    color: var(--first-color);
}
/* //for phones
.projects-card img {
    padding-inline: 20px;
    border-radius: 20%;
} */

.section-title{
    font-size: 18px;
}

.services-title{
    font-size: 18px;
}

.section-subtitle{
    font-size: 18px;
}

.sectio-subtitle span{
    font-size: 18px;
}
.contact{
    padding-top: 60px;
    position: relative;
    text-align: center;
}
.contact .section-subtitle{
    text-align: center;
}

.contact .section-title{
    text-align: center;
    padding-block: 17px;
}
.contact-group{
    position: relative;
    /* background: greenyellow; */
    text-align: center;

}
.contact-group input{
    height: 40px;
    width: 80%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 20px;
    background: var(--container-color);
    color: var(--title-color);
    
}
#textarea{
    background-color: var(--container-color);
    color: var(--title-color);
    padding-left: 20px;
    padding-block: 17px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 80%;
    height: 200px;
    resize: none;
}
.contact-button{
    background-color: var(--first-color);
    height: 40px;
    line-height: 20px;
    margin-top: 20px;
}
.contact-input::placeholder{
    color: var(--text-color);
}
.contact-input:focus{
    outline: none;
    box-shadow: 1px 1px 10px 1px var(--first-color);
    
}

.contact-input:focus::placeholder{
    opacity: 0;
}
/* ===============footer======= */
.footer{
    position: relative;
    background: var(--container-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.footer-container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.footer-data{
    text-align: center;
    position: relative;
    top: 50px;
}
.footer-title{
    font-size: 22px;
}
.footer-education{
    font-size: 14px;
}
.footer-copy{
    font-size: 12px;
}
.footer-social{
    background:transparent;
    position: relative;
    text-align: center;
    top: 40px;
    display: block;
}
.footer-social-link{
    color: white;
    display: inline-block;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--first-color-alt);
    width: 40px;
    height: 45px;
    text-align: center;
    padding: 0.7rem;
    /* z-index: -1; */
    /* align-items: center; */
    position: relative;
    cursor: pointer;
}
.footer-social-link:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.footer-copy{   
     /* text-align: center; */
    /* padding-top: 20px; */
    /* left: 50%; */
    /* right: 15px; */
    top: 100px;
    /* bottom: -18px; */
    line-height: 25px;
    text-align:center;
    right:-25%;
    transform:translateX(-50%);
}
.zaitoune{
    background: none;
    color: white;
    text-align: center;
    
}
.zaitoune:hover{
    background: none;
}
.zaitoune::before{
    content: "";
    position: relative;
    width: 0px;
    height: 2px;
    background: var(--first-color);
    bottom: -3px;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
    -ms-transition: width .5s;
    -o-transition: width .5s;
}
.zaitoune:hover::before{
    content: "";
    position: relative;
    width: 83px;
    height: 2px;
    background: var(--first-color);
    bottom: -3px;
}
/* ==================Scroll Progress========== */
.scroller{
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 0px;
    background: var(--first-color);
    z-index: 99999999;
    behavior: smooth;
}
/* ============================ */
.projects-modal a{
animation: pip 1s ease-in alternate infinite;
}

.projects-modal i{
color: var(--first-color);
}
}

@keyframes pip {
0%{
margin-left:5px;
}
100%{
margin-right:5px;
}
}